<div class="subjects index">
<!-- This class "subjects index" helps me track the controller & the action that I am ON	 -->
  <h2>Subjects</h2>

  <%= link_to("Add New Subject", {:action => 'new'}, :class => 'action new') %>
<!-- A "link_to" tag that is going to take me to a new subject -->
<!-- A place holder '#' after "Add New Subject" was replaced by a hash -->
<!-- {:action => 'new'} << I added a link to "new" action -->
  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
<!-- A table header with a list of attributes for the subjects       -->
    </tr>
    <% @subjects.each do |subject| %>
<!-- Ruby code -using the method 'each' Im going to loop thru each one of the subjects -->
<!-- in that array of subjects      -->
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= subject.visible ? 'Yes' : 'No' %></td>
<!-- This is a conditional -in the form of a ternary operator. See the "?" and ":"     -->
      <td class="center"><%= subject.pages.size %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show',:id => subject.id}, :class => 'action show') %>
<!-- I replaced a place holder "#" with a hash {:action => 'show',:id => subject.id} so that I tell the link where to go. and I wanna go to the action and then to the id         -->
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
